@tailwind base;
@tailwind components;
@tailwind utilities;

.titulo {
  background: linear-gradient(to right, #55B0F0, #FFF, #8FAFF1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.titulo2 {
  background: linear-gradient(90deg, #55B0F0 15.45%, #C1D8F0 58.21%, #0C1D41 73.89%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.titulo3{
  background: linear-gradient(90deg, #1777BA 0%, #A2B3EE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

body {
  background-color: #000206;
}

@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }

  html {
    scroll-behavior: smooth;
  }